<a href="https://colab.research.google.com/github/AnIsAsPe/Algebra_lineal-para-ML/blob/main/BOW_Ejemplo_de_jugete_espa%C3%B1ol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#preprocesar texto
import nltk
from nltk.corpus import stopwords
import re

nltk.download('stopwords')

#construccion de bolsa de palabras

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Erick\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Creación de Corpus

In [19]:
doc = {}
doc[0] = 'El sol sale para todos y todos los días sale el sol'
doc[1] = 'Estoy en la vereda del sol'
doc[2] = 'Todos ven el sol salir'
doc[3] = 'La vereda sale cara'
doc[4] = 'De cara al sol'

corpus = pd.DataFrame(data=doc.values(), index=doc.keys(), columns=['documento'])
print(corpus.shape)
corpus

(5, 1)

                                           documento
0  El sol sale para todos y todos los días sale e...
1                         Estoy en la vereda del sol
2                             Todos ven el sol salir
3                                La vereda sale cara
4                                     De cara al sol

# Preprocesar

In [65]:
def preprocesar(texto):
    #convierte a minúsculas
    texto = texto.lower()

    #quitar tildes 
    import unicodedata  #para quitar tildes
    texto =''.join((c for c in unicodedata.normalize('NFD',texto) if
                         unicodedata.category(c) != 'Mn'))
    #elimina stopwords
    text = re.compile(r'\b(' + r'|'.join(stopwords.words('spanish')) + r')\b\s*')
    texto = re.sub('[^a-zA-Z!¡?¿]', ' ', texto)
    texto = text.sub('', texto) 

    return texto

In [66]:
corpus['documento'] = corpus['documento'].apply(preprocesar)
corpus

                documento
0  sol sale dias sale sol
1              vereda sol
2           ven sol salir
3        vereda sale cara
4                cara sol

## Pesos booleanos

In [69]:
# Bolsa de palabras pesos binarios
cv = CountVectorizer(binary=True)
mdt_binarios = cv.fit_transform(corpus['documento']) 

bow_binaria = pd.DataFrame(mdt_binarios.todense(), columns=cv.get_feature_names())
print(bow_binaria.shape)
bow_binaria

(5, 7)

   cara  dias  sale  salir  sol  ven  vereda
0     0     1     1      0    1    0       0
1     0     0     0      0    1    0       1
2     0     0     0      1    1    1       0
3     1     0     1      0    0    0       1
4     1     0     0      0    1    0       0

## Pesos frecuencia

In [71]:
# Bolsa de palabras pesos frecuencias
cv = CountVectorizer()
mdt_frec = cv.fit_transform(corpus['documento']) 
palabras = cv.get_feature_names()

bow_frec = pd.DataFrame(mdt_frec.todense(), columns=palabras)
print(bow_frec.shape)
bow_frec

(5, 7)

   cara  dias  sale  salir  sol  ven  vereda
0     0     1     2      0    2    0       0
1     0     0     0      0    1    0       1
2     0     0     0      1    1    1       0
3     1     0     1      0    0    0       1
4     1     0     0      0    1    0       0

## Pesos TF-IDF

In [72]:
# Bolsa de palabras pesos TF-IDF
cv = TfidfVectorizer()
mdt_tfidf = cv.fit_transform(corpus['documento']) 
palabras = cv.get_feature_names()

bow_tfidf = pd.DataFrame(mdt_tfidf.todense(), columns=palabras)
print(bow_tfidf.shape)
bow_tfidf

(5, 7)

       cara      dias      sale   salir       sol     ven    vereda
0  0.000000  0.452991  0.730941  0.0000  0.510415  0.0000  0.000000
1  0.000000  0.000000  0.000000  0.0000  0.572526  0.0000  0.819887
2  0.000000  0.000000  0.000000  0.6569  0.370086  0.6569  0.000000
3  0.577350  0.000000  0.577350  0.0000  0.000000  0.0000  0.577350
4  0.819887  0.000000  0.000000  0.0000  0.572526  0.0000  0.000000